@{
    ViewData["HeaderTitle"] = "Access Denied";
    ViewData["BreadcrumbFirst"] = "Home";
    ViewData["BreadcrumbActive"] = "Access Denied";
}

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card card-danger">
            <div class="card-header">
                <h3 class="card-title">Access Denied</h3>
            </div>
            <div class="card-body">
                <p>You do not have permission to access this resource.</p>
                <p>Please contact your administrator if you believe this is an error.</p>
            </div>
            <div class="card-footer">
                <a asp-action="Index" asp-controller="Home" class="btn btn-default">Go to Home</a>
            </div>
        </div>
    </div>
</div>
